body{
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    font-weight: 900;
}

/*---------- Container -----------*/
.container-fluid{
    padding: 7% 15% ;
}

/*---------- section -----------*/

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* -------------------- Navigation bar --------------------- */

#title {
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 6%;
}

/* ----------- Navigation bar ------------ */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu';
}

.nav-item{
    margin: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 400;

}

/* --------- Download Button --------- */
.download-button{
    margin: 5% 3% 5% 0;
}

/* ---------- Title image ----------- */

.img-box{
    position: relative;
}

.title-img{
    width: 60%;
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    
}

/*-------------------- Features --------------------*/
 
#features{
    position: relative;
}

.feature-box{
    padding: 4%;
}

.feature-title{
    font-size: 2rem;
}
.feature-box p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/*----------- Testimonials -------------*/

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}


/*----------- Press section -------------*/

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*----------- Price section -------------*/

#pricing{
    padding: 7%;
}

.pricing-header h2{
    font-size: 3rem;
    line-height: 1.5;
}

.card-heading{
    font-weight: 500;
}

.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}


/*----------- Call to Action section -------------*/

.cta-heading{
    font-size: 2rem;
    margin-bottom: 4%;
}


/* ------------------ footer -------------------- */
    
.social-icon{
    margin: 10px;
    cursor: pointer;
}


/* ------------------ Code For Mobile -------------------- */


@media (max-width: 1028px){
    
    #title{
        text-align: center;
    }
    
    .title-img{
        position: static;
        transform: rotate(0);
    }

}

@media (max-width: 700px){
    html{
        font-size: 60%;
    }
}